<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
		<meta name="description" content="Portfolio of software engineer Ben Holmes based in London, UK. View past and current projects, request freelance work
			and find contact information."/>

		<title>Ben Holmes Software Engineer Portfolio</title>

		<meta property="og:title" content="Portfolio Homepage"/>
		<meta property="og:site_name" content="Ben Holmes Software Engineer Portfolio"/>
		<meta property="og:url" content="http://bdholmes.com/"/>
		<meta property="og:image" content="http://bdholmes.com/images/me.jpg"/>
		<meta property="og:locale" content="en_GB"/>
		<meta property="og:description" content="Portfolio of software engineer Ben Holmes based in London, UK. View past and current projects, request freelance work
			and find contact information."/>

		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="http://bdholmes.com/">
		<meta name="twitter:title" content="Ben Holmes Software Engineer Portfolio">
		<meta name="twitter:description" content="Portfolio of software engineer Ben Holmes based in London, UK. View past and current projects, request freelance work
			and find contact information.">
		<meta name="twitter:image" content="http://bdholmes.com/images/me.jpg">	

		<link rel="Shortcut Icon" href="http://bdholmes.com/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="style.css"/>

		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");twitterWidgets.onload = _ga.trackTwitter;</script>

	</head>
	<body>
		<div id="header">
			<h1>Ben Holmes</h1>
			<h2>Software Engineer Portfolio</h2>
		</div>
		<div id="content">
			<div id="content_inner">
				<p>
					Welcome to my online portfolio.
				</p>
				<p>
					My name is Ben Holmes, and I am a professional software engineer and freelancer based in London, UK.
				</p>
				<p>
					I have been creating software for over 12 years, specialising in website design and development, desktop tools, games and mobile applications. I have been involved in many different types of projects through all stages of the development cycle, from initial requirements gathering through to the designing of user interfaces and user experiences to implementing technical solutions.
				</p>
				<p>
					If you have a project in mind, feel free to get in contact, even if you are just seeking advice. I have a large amount of general technical knowledge, including but not limited to user interface design, user experience design, system architectures, security, SEO, computer graphics, mobile applications, onboarding, social networks, startup culture, software as a service, desktop tools, networks, AWS, cloud computing, application programming interfaces, requirements gathering, testing, consulting and more.
				</p>
				<p>
					For freelance and contracting enquiries please get in touch via e-mail.
				</p>
				<p>
					E: [b] at [bdholmes] dot [com]<br>
					T: Ask	
				</p>     
			</div>  
		</div>
		<div id="footer">
			&copy; 2015 Ben Holmes - All Rights Reserved 
		</div>
	</body>
</html>